---
layout: default
---

<div class="container py-4">
  <div class="row">
    {% for album in site.discography %}
      {% if album.released == true %}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            {%- for category in album.categories -%}
            <a href="{{- category | replace: " ", "-" | prepend: "#" |
                prepend: album.cloudcategory_url |
                absolute_url | uri_escape -}}" class="badge chulapa-pill-bg-secondary mx-1">{{- category -}}
            </a>
            {%- endfor -%}
            <br>
            <a href="{{ album.url }}">
              <img src="{{ album.cover }}" class="card-img-top" alt="{{ album.title }} cover">
            </a>
            <div class="card-body">
              <div class="card-title">
                {{ album.artist }}<br>
                <i>"{{ album.title }}"</i>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
